* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(3, 3, 51);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

h1 {
  margin: 20px;
}

.game-container {
  padding: 20px;
  margin: auto;
  width: 450px;
  height: 350px;
  position: relative;
  display: flex;
}

.figure-container {
  fill: transparent;
  stroke: #fff;
  stroke-width: 4px;
  stroke-linecap: round;
}

.wrong-letters-container {
  position: absolute;
  top: 120px;
  right: 30px;
  display: flex;
  flex-direction: column;
  text-align: right;
}

.word {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 30%;
  /* transform: translateX(-50%); */
}

.word span {
  margin-right: 10px;
  font-size: 2rem;
  width: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid white;
}

.notification-container {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px 10px 0 0;
  padding: 15px 20px;
  position: absolute;
  bottom: -50px;
  left: 41%;
  transition: transform 0.3s ease-in-out;
}

.notification-container p {
  margin: 0;
}

.notification-container.show {
  transform: translateY(-50px);
}
